:root {
    --green-color: 26,
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.py-6 {
    padding-top:4rem;
    padding-bottom: 4rem;
}
header {
    background-color: blue;
    /* height: 60px; */
    color: white;
}

section {
    color: white;
}

p{
    color: black;
    text-align: center;
    text-transform: uppercase;
}
[class*=col-] {
    /* border: 1px solid black; */
    border-radius: .5;
}

.first,
.third,
.fourth {
    height: 400px;
}


ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li {
    margin-left: 20px;
}




.first {
    background-color: greenyellow;
}

.second .row .col {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.third {
    background-color: aquamarine;
    
}
.third p {
  color: white;

}
.fourth {
    color: black;
    text-align: center;
}

.fourth [class*=col-] {
    border-bottom: 1px solid black;
}

footer {
    height: 250px;
    background-color: blue;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.copyright {
    background-color: darkblue;
}