*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: blue;
    height: 60px;
    color: white;
    text-transform: uppercase;
}

section {
    color: white;
}

p{
    color: black;
    text-align: center;
    text-transform: uppercase;
}
[class*=col-] {
    border: 1px solid black;
    border-radius: .5;
}

.first {
    height: 400px;
    background-color: greenyellow;
}

.second .row .col {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.third {
    background-color: aquamarine;
}

.fourth {
    color: black;
    text-align: center;
}

footer {
    background-color: blue;
    text-align: center;
}