.bg-blue {
    background-color: rgb(21%, 27%, 35%);
}

.jumbotron {
    background-color: rgb(32%, 69%, 65%);
    color: white;
}
.py-6 {
    padding-top:4rem;
    padding-bottom: 4rem;
}

.jumbotron img {
    max-width: 300px;
    /* position: relative; */
}
/* 
.jumbotron .fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9rem;
    color: white;
    display: none;

} */

.cards img:hover {

}