.bg-blue {
    background-color: rgb(21%, 27%, 35%);
}

.jumbotron {
    background-color: rgb(32%, 69%, 65%);
    color: white;
}
.py-6 {
    padding-top:4rem;
    padding-bottom: 4rem;
}

.jumbotron img {
    max-width: 300px;
    /* position: relative; */
}
 
.cards .fa-plus {
    opacity: 0;
    transition: all .5s ease-out;
    color: white;
    font-size: 6rem;

}

.card:hover {
    filter: hue-rotate(90deg)
}

.card:hover .fa-plus{
   opacity: 1;

} 




.forms {
    color: black;
}

.form-control {
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
}

.jumbotron .btn-outline-secondary {
    color: white;
    border-color: white;
}

.btn-success {
    background-color: rgb(32%, 69%, 65%);
    border-color: rgb(32%, 69%, 65%);
}

footer {
    background-color: rgb(25%, 33%, 42%);
    color: white;
}

footer span {
    color: rgb(33%, 68%, 59%);
}

.copyright {
    background-color: rgb(21%, 27%, 35%);
}

.btn-success:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.footer1 i {
    margin: 1em;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1em;

}

footer i:hover {
    cursor: pointer;
}

p {
    margin: auto;
}